<%= form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-8 columns">
      <div class="row">
        <div class="large-2 columns">
          <%= f.label :goal, "In order to", class: "inline" %>
        </div>
        <div class="large-10 columns">
          <%= f.text_field :goal %>
        </div>
      </div>

      <div class="row">
        <div class="large-2 columns">
          <%= f.label :stakeholder, "As a", class: "inline" %>
        </div>
        <div class="large-10 columns">
          <%= f.text_field :stakeholder %>
        </div>
      </div>

      <div class="row">
        <div class="large-2 columns">
          <%= f.label :behavior, "I want to", class: "inline" %>
        </div>
        <div class="large-10 columns">
          <%= f.text_field :behavior %>
        </div>
      </div>

      <div class="row">
        <div class="large-2 columns">
          <%= f.label :tag, class: "inline" %>
        </div>
        <div class="large-10 columns">
          <%= f.text_field :tag %>
        </div>
      </div>

      <div class="row">
        <div class="large-2 columns">
          <%= f.label :assignee, class: "inline" %>
        </div>
        <div class="large-10 columns">
          <%= f.text_field :assignee %>
        </div >
      </div>

      <div class="row">
        <div class="large-2 columns">
          <%= f.label :status, class: "inline" %>
        </div>
        <div class="large-10 columns">
          <%= f.select :status, Story::VALID_STATUSES %>
        </div>
      </div>

      <div class="row">
        <div class="large-10 columns offset-large-2">
          <div class="actions">
            <%= f.submit "Submit" %>
          </div>
        </div>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="row">
        <div class="large-6 columns">
          <%= f.label :business_value %>
          <%= f.select :business_value, Story::VALID_ESTIMATES %>
        </div>

        <div class="large-6 columns">
          <%= f.label :complexity_value %>
          <%= f.select :complexity_value, Story::VALID_ESTIMATES %>
        </div>
      </div>
    </div>
  </div>
<% end %>
