<h1>Listing stories</h1>

<div class="story-list">
  <% @stories.each do |story| %>
    <div class="story row">
      <div class="story-estimations small-1 columns">
        <div class="row" title="business value">
          <%= story.business_value %>
        </div>
        <div class="row" title="complexity value">
          <%= story.complexity_value %>
        </div>
      </div>
      <div class="story-details small-10 columns">
        <div class="story-details--behavior">
          <%= link_to story.behavior , edit_story_path(story) %>
        </div>
        <div class="story-details--status">
          <%= story.status %>
        </div>
      </div>
      <div class="small-1 columns">
        <%#= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      
    </div>  
  <% end %>
</div>

<br>

<%= link_to 'New Story', new_story_path %>
